.active{
    font-weight: 700;
    background-color: white;
    color: black;
    padding: 7px;
    border-radius: 3px;

}

@media (max-width:1024px) {
    .active{
      font-weight: 400;
        background-color: white;
        margin: 40px 0;
        color: black;
        padding: 2px;
        border-radius: 3px;
    
    }
}